{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit Show</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_film', film_id=film._id) }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Show Category</label>
				</div>
			</div>
             <!-- show name -->
             <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-address-book prefix light-blue-text text-darken-4"></i>
                    <input id="name" name="name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="name">Name</label>
                </div>
            </div>
             <!-- director -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-video prefix light-blue-text text-darken-4"></i>
                    <input id="director" name="director" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="director">Director</label>
                </div>
            </div>
            <!-- cast -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-film prefix light-blue-text text-darken-4"></i>
                    <input id="cast" name="cast" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="cast">Cast</label>
                </div>
            </div>
             <!-- country -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe prefix light-blue-text text-darken-4"></i>
                    <input id="country" name="country" minlength="2" maxlength="25"
                        type="text" class="validate" required>
                    <label for="country">Country</label>
                </div>
            </div>
             <!-- duration -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                    <input id="duration" name="duration" minlength="2" maxlength="25"
                        type="text" class="validate" required>
                    <label for="duration">Duration</label>
                </div>
            </div>
             <!-- description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="description" name="description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
             <!-- release year -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="release_year" name="release_year" type="text" class="datepicker validate" required>
                    <label for="release_year">Release Year</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Show <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}