{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for film in films %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ film.name }}</strong> : {{ film.release_year }}
                        
            </div>
            <div class="collapsible-body">
                <strong>{{ film.category_name }}</strong>
                <p>{{ film.descrption }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}